{% extends "base_site.html" %}
{% block title %}Contact Victor{% endblock %}
{% block content %}

<!-- Contact -->
    <h1 class="w3-xxxlarge w3-text-blue"><b>Contact Me</b></h1>
    <p>Reach out! I'm always down to meet up and chat about projects, code, or just video games.</p>
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
    <form action="" target="_blank">
      <div class="w3-section">
        <label>Subject</label>
        <input class="w3-input w3-border" type="text" name="Subject" required>
      </div>
      <div class="w3-section">
        <label>Email</label>
        <input class="w3-input w3-border" type="text" name="Email" required>
      </div>
      <div class="w3-section">
        <label>Message</label>
        <input class="w3-input w3-border" type="text" name="Message" required>
      </div>
      <button type="submit" class="w3-button w3-block w3-padding-large w3-blue w3-margin-bottom">Send Message</button>
    </form>
    <h1 class="w3-xxxlarge w3-text-blue"><b>Contact Me</b></h1>
    <p>Reach out! I'm always down to meet up and chat about projects, code, or just video games.</p>
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
        <div class="field">
            {{ form.subject.errors }}
            <label for="id_subject">Subject:</label>
            <input class="w3-input w3-border" {{ form.subject }}
                   <br>
        </div>
        <div class="field">
            {{ form.email.errors }}
            <label for="id_email">Your e-mail address:</label>
             <input class="w3-input w3-border" {{ form.email }}
                    <br>
        </div>
        <div class="field">
            {{ form.message.errors }}
            <label for="id_message">Message:</label>
             <input class="w3-input w3-border" {{ form.message }}
                    <br>
        </div>
        <br>
        {% csrf_token %}
       <button type="submit" class="w3-button w3-block w3-padding-large w3-blue w3-margin-bottom">Send Message</button>
    </form>
{% endblock %}