{% extends "base_site.html" %}

{% block title %}Error{% endblock %}
{% block header %}

<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Well that's not right....
  </h1>
  <p class="w3-xlarge">Sorry, you hit an error!
      {% if from != null %}
        The {{ from }} page isn't working right now.
      {% endif %}</p>
    <a href="/home" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Home</a>
</header>

{% endblock %}